@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&display=swap');
@import url('https://db.onlinewebfonts.com/c/dc52446fb8e9f8279b8d6be41d9fd08d?family=Bourbon+W00+Lines');
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body {
    margin: 0;
    padding: 0;
}

/*index.html/Home page */

/*Background Image*/
.homePage {
    top: 0;
    left: 0;
    width: 100%;
    background: url("Images/Home/5.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}



.slideshow-container {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    text-align: center;
    z-index: 1; /* Put the slideshow above other content */
}

.slide img {
    margin-top: -12%;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the entire image is visible without cropping (zoom out) */
    animation: fade 2s ease; /* Use the fade animation with 2 seconds duration and ease timing function */
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Set the width of the container (adjust as needed) */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2; /* Put the container above the slideshow */
    text-decoration: none;
   
    margin-left: -15%;
    margin-top: -7%;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Vertical Header*/
.inline {
    margin-left: -2%;
    margin-top: -1%;
    z-index: 9999;
    width: 100%;
}

/*JGA LOGO*/
.homelogo {
    margin-top: -20%;
    width: 250px;
    height: 200px;
    padding-bottom: 25px;
}

/*JGA LOGO*/
.JGAwordingforlogo {
    font-family: "Bourbon W00 Lines";
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 3.5%;
    height: 96.5%;
    width: 260px;
    padding-top: 20px;
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}

/*Listing formatting*/
.homePageAlignment ul li a {
    font-family: "Bourbon W00 Lines";
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  
    letter-spacing: 2px;
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}



.homePageAlignment ul li a:hover {
    color: rgb(188, 188, 188, 0.8);
}

.homePageAlignment ul li {
    display: flex;
    margin-top: 2%;
    height: 98%;
    margin-left: 1%;
    height: 60px;
}

/*Home page footer*/
.introfooter {
    background-color: black;
    margin-top: 10%;
    height: 200px;
    color: white;
    display: flex;
    padding-top: 20px;
    margin-top: auto;
}

.introfooterimage {
    width: 250px;
    height: 165px;
    border-color: white;
    padding-left: 30px;
    padding-top: 5px;
}

.introfootertext {
    color: white;
    text-align: left;
    line-height: 1.3;
    padding-top: 20px;
}

.introfooterbox {
    width: 80px;
    height: 135px;
    background-color: black;
}

.introfooterbox2 {
    width: 60px;
    height: 100px;
    background-color: black;
}

.introcontactinfo {
    font-size: large;
    color: white;
    display: flex;
}

/*About Page*/
/*Header for all pages*/

.header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .9);
    border-bottom: 1px solid #fff;
}

.Home2Logo {
    width: 150px;

}

.Home2Body nav ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.Home2Body nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.Home2Body nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;

}

/* ABout Us Background Picture*/
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("Images/Forest.JPG");
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: 0;
}

/*ABout us Body*/
.introbody {
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: black;
}



/*About us Body Formatting*/
.Home2Body section {
    width: 100%;
    height: 100vh;
}

.FrontImage {
    width: 375px;
    height: 333px;
    padding-right: 50px;
    filter: drop-shadow(10px 10px 10px black);
}

.introparagraph2 {
    position: absolute;
    line-height: 2.0;
    min-width: 450px;
    font-family: 'Barlow';
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-right: 20px;
    margin-top: -10%;
    margin-right: 10%
}

/*footer for all pages */
footer {
    background-color: black;
    margin: 0;
    height: 200px;
    color: white;
    display: flex;
    padding-top: 20px;
}

.footerimage {
    width: 250px;
    height: 165px;
    border-color: white;
    padding-left: 30px;
    padding-top: 5px;
}

.footertext {
    color: white;
    text-align: left;
    line-height: 1.3;
    padding-top: 20px;
}

.footerbox {
    width: 80px;
    height: 135px;
    background-color: black;
}

.footerbox2 {
    width: 60px;
    height: 100px;
    background-color: black;
}

.contactinfo {
    font-size: large;
    color: white;
    display: flex;
}


/*Contact Page*/
.contactbody {
    background: linear-gradient(to bottom, black, rgb(115, 115, 115));
}

.contactheader {
    align-items: center;
    display: inline-flex;
    padding-bottom: 20px;
}

/*Contact Body*/
.intro {
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    font-family: 'Barlow';
    color: white;
}

.double_element {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    margin-left: -1%;

}

.double_element i {
    border-style: inset;
    border-color: white;
    width: 70px;
    height: 70px;
    padding-top: 10px;
    border-radius: 100%;

}

.email {
    text-decoration: none;
    color: white;

    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.fullemail {
    text-decoration: none;
    color: white;

    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.hrblock {
    border-color: rgba(185, 187, 190, 0);
    width: 100%;
}

.form_and_image {
    display: inline-flex;
    padding: 30px;
}

.contactimage {
    width: 500px;
    height: 425px;
    padding-right: 25px;
    padding-left: 25px;
    filter: drop-shadow(10px 10px 10px black);
}


.sizing {
    box-sizing: border-box;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.sizingBio {
    box-sizing: content-box;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 300px;
    height: 75px;
}

.send_left {
    text-align: left;
}

/*Gallery page*/

/*Gallery Page*/
.gallery {
    background-color: black
}

.galleryheader {
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #fff;
    position: fixed;
    z-index: 9999;
}


.galleryheader nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    
}



.galleryheader nav ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.galleryheader nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.galleryheader nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;

}

.head {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: black;
    font-family: 'Barlow';
    padding-bottom: 20px;
}

.gallerybody {
    padding-top: 20px;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, #888888, #ffffff);
    padding-left: 2%;
}

.gallerybody2 {
    width: 100%;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #888888);
    padding-left: 2%;
}

.galleryentry {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 33%;
}

.galleryimage {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px black);
    cursor: pointer;
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    ;
    z-index: 1;
    opacity: 100%;
}

.galleryimage:hover {
    filter: brightness(0.6) drop-shadow(10px 10px 10px black);
    border-width: 80%;
    opacity: 40%;
}

.overlap {
    margin-top: -200px;
    z-index: 9999;
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-left: 17.5%;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
}

/*gallery selection*/

/*individual gallery pages*/
.galleryPage {
    max-height: fit-content;
    margin: 0;
    padding: 0;
}

.galleryPageBody {
    max-height: fit-content;
    background: linear-gradient(to bottom, rgb(89, 48, 1), #ffffff);
    margin: 0;
    padding: 0;
}

.galleryheaderindividual {
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #fff;
}


.galleryheaderindividual nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}


.galleryheaderindividual nav ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.galleryheaderindividual nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.galleryheaderindividual nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;

}

.slideshow {
    position: relative;
    display: inline-block;
    width: 100%;
}

.slideshow-image {
    width: 40%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin-left: 29%;
    margin-top: 3%;
    filter: drop-shadow(10px 10px 10px black);
    padding-bottom: 40px;

}

.slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 350px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
}

.previous-button {
    
    left: 325px;
    height: 100x;
    font-size: 100px;
    font-weight: bold;
}

.previous-button:hover {
    color: rgba(131, 131, 131, 0.7);

    cursor: pointer;
    opacity: 40%;
}

.next-button {
    right: 10px;
    height: 100x;
    font-size: 100px;
    font-weight: bold;
}

.next-button:hover {
    color: rgba(131, 131, 131, 0.7);

    cursor: pointer;
    opacity: 70%;
}

/*Testimonial page*/
.reviewpage {
    background: linear-gradient(to bottom, black, #888888);
}

.reviewbody {
    background: linear-gradient(to bottom, black, #3b3b3b);
    height: 122%;
}

.review {
    text-align: center;
    font-family: 'Barlow';
    color: white;
    margin: 30px;
}

.reviewborders {
    width: 800px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-color: white;
}


@media screen and (max-width: 500px) {
    html {
        margin: 0;
        padding: 0;
        background-color:black;

    }
    .home {
        background-color: white;
        display: contents;
    }


    .slideshow-container {
        min-height: auto;
        position: relative;
        text-align: center;
        z-index: 1; /* Put the slideshow above other content */
    }

  

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This will make the image cover the entire slide */
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%; /* Set the width of the container (adjust as needed) */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 2; /* Put the container above the slideshow */
        text-decoration: none;
       
        margin-left: 10%;
        margin-top: -7%;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


    body {
        display: block;
    }

    .homelogo {
        margin-left: 10%;
        width: 250px;
        height: 200px;
        padding-bottom: 25px;
        padding-top: 25px;
        margin-top: 20%;
    }

    /*JGA LOGO*/
    .JGAwordingforlogo {
        font-family: 'Barlow';
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-top: 3.5%;
        margin-left: 9%;
        height: 96.5%;
        width: 260px;
        padding-top: 20px;
    }

    .homePageAlignment {
        align-content: center;
    }

    .homePageAlignment ul li {

        align-items: center;

    }

    .homePageAlignment ul li a {
        font-family: 'Barlow';
        font-size: 30px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-align: left;
        margin-top: 10px;
        margin-left: 15%;
        align-items: center;
        text-align: center;
        width: 210%;
    }

    .introfooter {
        height: 70%;
        background-color: black;
        height: 120px;
        color: white;
        display: flex;
    }

    .introfooterimage {
        width: 135px;
        height: 75px;
        border-color: white;
    }

    .introfootertext {
        color: white;
        text-align: left;
        line-height: 1.0;
    }

    .introfooterbox {
        width: 10px;
        height: 100px;
        background-color: black;
    }

    .introfooterbox2 {
        width: 10px;
        height: 10px;
        background-color: black;
    }

    .introcontactinfo {
        font-size: 10px;
        color: white;
        display: flex;
    }

    /*About Page*/
    /*Header for all pages*/

    .header {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding: 10px 90px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .9);
        border-bottom: 1px solid #fff;
    }

    .Home2Logo {
        width: 150px;
        margin-left: 19%;
    }

    .Home2Body nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        width: 400px;
    }

    .Home2Body nav ul li a {
        line-height: 80px;
        color: #fff;
        padding: 12px 30px;
        text-decoration: none;
        font-size: 8px;
        font-weight: bold;
    }

    .Home2Body nav ul li a:hover {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 6px;

    }

    /* ABout Us Background Picture*/
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 102%;
        height: 90%;
        background: url("Images/Forest.JPG");
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    /*ABout us Body*/
    .introbody {
        padding: 50px;
        display: inline;
        text-align: center;
        align-items: center;
        background-color: black;
    }



    /*About us Body Formatting*/
    .Home2Body section {
        width: 100%;
        height: 100vh;
        background-color: black;
        margin-top: 40%;
        height: 60%;

    }

    .FrontImage {
        width: 375px;
        height: 333px;
        padding-right: 50px;
        filter: drop-shadow(10px 10px 10px black);
        margin-left: 5%;
    }

    .introparagraph2 {
        position: absolute;
        line-height: 2.0;
        font-family: 'Barlow';
        text-align: left;
        color: white;
        font-weight: bold;
        font-size: 8px;
        text-align: center;
        width: 100%;
        margin-top: 8%;

    }

    /*footer for all pages */
    footer {
        margin-top: 30%;
        height: 70%;
        width: 100%;
        background-color: black;
        height: 120px;
        color: white;
        display: flex;
    }

    .footerimage {
        width: 135px;
        height: 75px;
        border-color: white;
    }

    .footertext {
        color: white;
        text-align: left;
        line-height: 1.3;
    }

    .footerbox {
        height: 1px;
        width: 20px;
        background-color: black;
    }

    .footerbox2 {
        height: 1px;
        width: 20px;
        background-color: black;
    }

    .contactinfo {
        font-size: 10px;
        color: white;
        display: flex;
    }

    /*contact page*/
    .contactbody {
        background: linear-gradient(to bottom, black, black);
    }

    .contactheader {
        align-items: center;
        display: inline-flex;
        padding-bottom: 20px;
    }

    .galleryheader {

        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding: 10px 90px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .9);
        border-bottom: 1px solid #fff;
    }


    .galleryheader nav .logo {
        z-index: 9999;
        width: 150px;
        margin-left: 40%;
    }


    .galleryheader nav ul {
        z-index: 9999;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        width: 400px;
       margin-right: -25%;
    }

    .galleryheader nav ul li a {
        z-index: 9999;
        line-height: 80px;
        color: #fff;
        padding: 12px 30px;
        text-decoration: none;
        font-size: 8px;
        font-weight: bold;
       
        
    }

    .galleryheader nav ul li a:hover {
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 6px;

    }

    .contactheader {
        display: inline;
        padding-bottom: 20px;

    }

    .intro {
        margin-top: 30%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        font-family: 'Barlow';
        color: white;
        background-color: black;
        margin-left: -10%;
    }

    .Contact {
        margin-top: 30%;
        height: 70%;
    }

    .email {
        display: inline;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .fullemail {
        display: inline;
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-left: -20%;
    }

    .double_element {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 20px;
        margin-left: -1%;

    }



    .contactimage {
        opacity: 0;
        width: 1px;
        height: 1px;
    }

    .send_left {
        text-align: center;
        margin-left: -18%;
    }

    /*Testimonial page*/
    .reviewpage {
        background: linear-gradient(to bottom, black, #888888);
    }

    .reviewbody {
        background: linear-gradient(to bottom, black, #454545);
        height:150%;
    }

    .review {
        text-align: center;
        font-family: 'Barlow';
        color: white;
        margin: 30px;
    }

    .reviewborders {
        width: 100px;
        padding-bottom: 10px;
        border-radius: 20px;
        border-color: white;
    }


    .gallerybody {
        margin-top: 30%;
        padding-top: 20px;
        align-items: center;
        width: 100%;
        background: linear-gradient(to bottom, #888888, #ffffff);
        padding-left: 2%;
    }
    
    .gallerybody2 {
        width: 100%;
        align-items: center;
        width: 100%;
        background: linear-gradient(to bottom, #ffffff, #888888);
        padding-left: 2%;
    }
    
    .galleryentry {
        display:inline-table;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-top: 20px;
        align-items: center;
        box-sizing: border-box;
        width: 33%;
    }

    .galleryPageBody {
        max-height: 600px;
        background: black;
        margin: 0;
        padding: 0;
    }


    
    .slideshow-image {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin-left: 0%;
        margin-top: 3%;
        filter: drop-shadow(10px 10px 10px black);
        padding-bottom: 40px;
    
    }
    
    .slideshow-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 10px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 24px;
    }
    
    .previous-button {
        
        left: 8px;
        height: 100x;
        font-size: 100px;
        font-weight: bold;
    }
    
    .previous-button:hover {
        color: rgba(255, 255, 255, 0.9);
    
        cursor: pointer;
        opacity: 90%;
    }
    
    .next-button {
        right: 2px;
        height: 100x;
        font-size: 100px;
        font-weight: bold;
    }
    
    .next-button:hover {
        color: rgba(255, 255, 255, 0.9);
    
        cursor: pointer;
        opacity: 90%;
    }
}