@import url('https://fonts.google.com/specimen/Lobster');

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(82,97,107);
}

.nav ul {
    margin: 20px;
    padding: 0;
}
.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: large;
    padding-left: 40px;
}
.main-nav {
    text-align: center;
    color: white
}

.nav a:hover {
    color: rgba(255,255,255, .3);
}

.main-header {
    background-color:  black;
    text-align: center;
    margin: 20px;
}

.image {
    width: 250px;
    height: 165px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-color: white;
}

.intro {
    background-color: red;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    font-family: "Arial";
    color: white
}

.introbody {
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: purple;
}

.FrontImage {
    width: 375px;
    height: 333px;
    padding-right: 50px;
}

.introparagraph {
    line-height: 1.5;
    min-width: 500px;
    font-family: 'Times New Roman', Times, serif;
}
.imagebody {
    background-color: green;
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 20px;
    font-family: "Arial";
    color: white
}

.images {
    padding: 50px;
    display: inline-flex;
    background-color: purple;
}


.pageImage {
    width: 410px;
    height:: 410px;
    padding-right: 50px;
    padding-left: 50px;
}

footer {
    background-color: black;
    margin: 0;
    height: 200px;
    color: white;
    display: flex;
    padding-top: 20px;
}

.footerimage {
    width: 250px;
    height: 165px;
    border-color: white;
    padding-left: 30px;
    padding-top: 5px;
}
.footertext {
    color: white;
    text-align: left;
    line-height: 1.3;
    padding-top: 20px;
}

.footerbox {
    width: 80px;
    height: 135px;
    background-color: black;
}
.footerbox2 {
    width: 60px;
    height: 100px;
    background-color: black;
}

.contactinfo {
    font-size: large;
    color: white;
    display: flex;
}
.contact {
    font-size: x-large;

    color: white;
}

.navButtonsParent{
    display: flex;
    text-align: center;
    height: 10px;
    background-color: rgb(82,97,107);
    padding:20px;
}
.navButtons {
    text-decoration: none;
    font-size: 100%;
    font-weight: 500;
    width: 200px;
    height: 75px;
    border-radius: 20%;
    border-color: black;
    border-style: outset;
    background-color: rgb(219, 219, 219);
    color: grey;
    
}

.navButtons a:hover{
    color: black;
}

.navBox{
    width: 325px;
    height: 100px;
    background-color:rgb(82,97,107);
}

.navMiddleBox{
    width: 70px;
    height: 100px;
    background-color:rgb(82,97,107);
}